:root {
    --sidebarLength: 
}

@font-face {
    font-family: 'pixel';
    src: url(../sprites/font/ByteBounce.ttf);
}

body {
    font: 1em ;
    font-family: 'pixel';
    font-size: 20px;
}

.pageintro {
    background-color:  rgb(196, 247, 255);
}

.pagetutorial {
    background-color: rgb(255, 220, 79);
}

.pagegallery {
    background-color: #3a2b52;
}

.pagesubmit {
    background-color: rgb(100, 100, 172);
}

h1 {
    font-size: xx-large;
}

.text {
    text-align: center;
}

.BIG {
    font-size: 64px;
}

.hanger {
    object-position: 0px 0px ;
    width: 280px;   
    height: 157.5px;  
    margin-right: 20px;
    margin-bottom: 12.5px;
}

.hanger:hover {
    width: 300px;
    height: 170px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.underhang {
    position: fixed;
    z-index: -1;
    bottom: 0px;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.spreader {
    width: 100%;   
    height: 1;  
}

.center {
    display: block;
    margin: auto;
}

.logo {
    display :block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 1%;
    width: 100%;
    height: 25%;
    object-fit: contain;
    
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.container {
    width: 100%;
    height: 100%;
    display: flexbox;
}

.mainpage {
    width: 90%;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    display:block;
    position:fixed; /* Fixed Sidebar (stay in place on scroll) */
    margin-right: var(--sidebarLength);
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    scrollbar-width:none;
    padding-left: 10px;
    padding-right: 10px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%;
    max-width: var(--sidebarLength); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    float: right;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-left: 10px;
    min-width: 65px;
}

.sidenav img{
    display: block;
    height: 25%;
    object-position: 20px 0px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.sidenav img:hover{
    display: block;
    object-position: 10px 0px;
}

.coming_soon{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 50%;
  position: fixed;
}


.logo_list{
    width: 90%;
    margin-bottom:50px;
    
}

.logo_list img{
    width: 24%;
    max-width: 200px;
}

.logo_list p{
    display: inline
}

.screenshot_list{
    width: 90%;
    margin-bottom:50px;
}

.screenshot_list img{
    width: 24%;
}

.submitline {
    text-align: center;
}

.emailsub {
    text-align: center;
    font-family: 'pixel';
    font-size: 40px;
    border: 4px solid rgb(1, 247, 255);
    border-color: aqua;
    padding: 10px;
    margin-right: 16px;
    margin-top: 20px;
    object-fit:contain;
}

.buttonsub {
    text-align: center;
    font-family: 'pixel';
    font-size: 40px;
    background-color: 2px solid rgb(1, 247, 255);
    border: 4px solid rgb(1, 247, 255);
    border-color: aqua;
    padding: 10px;
    margin-top: 20px;
}

#game-table {
    font-family: 'pixel';
    border-collapse: collapse;
    width: 100%;
}

#game-table th{
    background-color: #ffd82c;
    padding: 10px 15px;
    text-align: left;
}

#game-table tr td {
    padding: 10px 15px;
    text-align: left;
}

#game-table tr td img{
    transition: transform .6s;
    width: 250px;
}

#game-table tr td a:hover{
    color: darkblue;
}

#game-table tr td img:hover{
    opacity: 80%;
}

#game-table tr td img:focus:hover{
    opacity: 100%;
}

#game-table tr td img:focus{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3); 
    object-fit: contain;
}

#game-table tbody tr:nth-child(odd) td {
    background-color: #fffee9;
}

#game-table tbody tr:nth-child(even) td {
    background-color: #fffbb7;;
}

#gamesVol {
    background-color: #fffbb7;
    font-family: 'pixel';
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-color: #ffd82c;
    border-width: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}